[submodule "faster-rcnn"]
	path = faster-rcnn
	url = https://github.com/gschoe/analysis-module_fasterrcnn
[submodule "Postprocessing"]
	path = Postprocessing
	url = https://github.com/djkim3/correlation_based_postprocessing
[submodule "EfficientDet"]
	path = EfficientDet
	url = https://github.com/djkim3/Yet-Another-EfficientDet-Pytorch-for-Korean-Drama-Dataset
